{% extends 'myapp/base.html' %}
{% load static %}


{% block title %} search {% endblock %}

{% block header %}

<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="{% url 'home' %}" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>ORMD DATALAB</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                    <!-- <a href="{% url 'blog' %}" class="dropdown-item">Blog Detail</a> -->
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
                    </div>
                    <!-- <a href="detail.html" class="dropdown-item">Blog Detail</a> -->
                 </div> 
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'price' %}" class="dropdown-item">Pricing Plan</a>
                        <a href="{% url 'team' %}" class="dropdown-item">Team Members</a>
                        <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                        <a href="{% url 'story' %}" class="dropdown-item"> Our story </a>
                        <a href="{% url 'career' %}" class="dropdown-item"> Career </a>
                        <a href="{% url 'feature' %}" class="dropdown-item"> Features </a>
                    </div>
                </div>
            </div>
            <form action="{% url 'search' %}" method="get">
            <button type="button"  class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
        </form>
            <a href="{% url 'contact' %}" class="btn btn-primary py-2 px-4 ms-3"> Contact </a>
        </div>
    </nav>
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Search</h1>
            <a href="{% url 'home' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'search' %}" class="h5 text-white">Search</a>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}
 
<div class="blog-item bg-light rounded overflow-hidden">
    <div class="blog-img position-relative overflow-hidden">
  <h4> search : {{ query }}</h4>
  
  {% for result in results %}
    
    <img class="img-fluid" src="{{result.header_image.url}}" alt="">
    <h4 class="mb-3">{{ result.title}}</h4>
    <p>{{ result.intro }}</p>
    <a class="text-uppercase" href="{% url 'detail' result.slug %}">Read More <i class="bi bi-arrow-right"></i></a>
    {% empty %}
    <h4> query match none....</h4>
    {% endfor %}
</div>
{% endblock %}

                                   
                                
                             